* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  padding: 2rem 1rem;
  background-color: #f5f5f5;
}

p {
  font-family: "IBM Plex Sans", sans-serif;
}

.serif {
  font-family: "Noto Serif", serif;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: 400;
}

.App {
  max-width: 600px;
  margin: auto;
  border-right: 1px solid #d2d2d2;
  border-left: 1px solid #d2d2d2;
}

.header {
  padding: 1rem 0.5rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  border-radius: 4px 4px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5dd;
  backdrop-filter: blur(20px);
}

.posts {
  margin-top: 3rem;
  padding: 1rem 2rem;
}

.post {
  padding: 2rem 0;
  border-bottom: 1px solid lightgray;
}

.post-img {
  width: 100%;
  border-radius: 4px;
  border: 1px solid lightgray;
  margin-top: 2rem;
}

.profile-picture {
  width: 30px;
  height: auto;
  border-radius: 50%;
}

.username {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.post-text {
  margin: 1rem 0 0 0;
}

.status {
  color: rgb(83, 83, 83);
  font-size: 14px;
}

.user-location {
  display: flex;
  gap: 0.25rem;
  justify-content: flex-start;
}

.post-info {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

@media screen and (max-width: 764px) {
  .posts {
    margin-top: 2rem;
    padding: 1rem;
  }
}
