* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  padding: 2rem 1rem;
  background-color: #f5f5f5;
}

p {
  font-family: "IBM Plex Sans", sans-serif;
}

.serif {
  font-family: "Noto Serif", serif;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: 400;
}

.App {
  max-width: 800px;
  margin: auto;
  border-right: 1px solid #d2d2d2;
  border-left: 1px solid #d2d2d2;
}

.header {
  padding: 1rem 0.5rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  border-radius: 4px 4px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.posts {
  margin-top: 3rem;
  padding: 1rem 2rem;
}

.post {
  padding: 2rem 0;
  border-bottom: 1px solid lightgray;
}

.username {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.post-text {
  margin: 0.5rem 0;
}

.user-location {
  display: flex;
  gap: 0.25rem;
}
