:root {
  --radius: 2px;
  --accent: hsl(47, 56%, 92%);
  --accent-transparent: rgba(255, 255, 255, 0.6);
  --header-transparent: rgba(246, 241, 223, 0.5);
  --dark: #191919;
  --light: hsl(0, 0%, 40%);
  --main: #261003;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  width: 100%;
  height: auto;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  color: var(--main);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

p,
button,
input,
a,
.small {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  color: var(--main);
}

input {
  text-align: left;
}

.btn {
  text-align: center;
}

.btn,
input {
  padding: 0.5rem;
  border: 1px solid var(--dark);
  border-radius: var(--radius);
  background-color: transparent;
  text-decoration: none;
}

.btn:hover {
  background: var(--main);
  color: var(--accent);
  transition: 0.1s ease;
  cursor: pointer;
}

input::placeholder {
  color: var(--light);
}

input:focus {
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin: 1rem 0;
}

.logout-btn {
  position: fixed;
  left: 12px;
  top: 16px;
}

header {
  padding: 0.5rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 60px;
  border-radius: var(--radius);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header-transparent);
  backdrop-filter: blur(12px);
}

header .logo {
  height: 100%;
  width: auto;
}

.login-signup {
  height: 100vh;
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  background-color: var(--accent);
  background-image: url("../public/grain.svg"), url("../public/pattern.svg");
  background-size: cover;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.login,
.signup,
.welcome-description {
  background: var(--accent-transparent);
  backdrop-filter: blur(8px) saturate(170%);
}

.welcome-description {
  max-width: 50ch;
  padding: 1.5rem 2rem;
  border-radius: var(--radius);
  text-align: center;
}

.home {
  background-color: var(--accent);
  background-image: url("../public/grain.svg"), url("../public/bg.svg");
  /* background-attachment: fixed; */
  background-size: contain;
  padding: calc(50px + 4rem) 0;
}

.posts {
  max-width: 600px;
  margin: auto;
  padding: 0 2rem;
  background-color: var(--accent);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
}

.post {
  padding: 2rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.post-img {
  width: 100%;
  border-radius: var(--radius);
  margin-top: 2rem;
}

.profile-picture {
  width: 30px;
  height: auto;
  border-radius: 50%;
}

.username {
  font-weight: bold;
  font-size: 16px;
}

.post-text {
  margin-top: 1rem;
}

.user-location {
  display: flex;
  gap: 0.25rem;
}

.post-info {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.login,
.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  border-radius: var(--radius);
  max-width: 295px;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .posts {
    width: 90%;
  }

  .login-signup {
    padding: 0 2rem;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
  }

  .welcome-description {
    display: none;
  }
}

@media (max-width: 764px) {
  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .posts {
    width: 100%;
    box-shadow: none;
    background-color: var(--header-transparent);
  }

  .home {
    padding: calc(50px + 2rem) 0;
  }

  .welcome-description {
    display: none;
  }

  .login-signup {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 0;
  }
}
